#basket_count {
  text-align: center;
  padding: 0 0.9rem 0.1rem 0.9rem;
  border-radius: 3rem;
}

.shopping-basket {
  padding: 3% 0;
}
.shopping-basket h6 {
  font-size: 20px;
}

.basket-items + .basket-items {
  padding: 2% 0;
}

.price-details h6 {
  padding: 3% 2%;
}

.col-md-6 {
  padding-top: 30px;
  font-size: 30px;
}
.col-md-6 p {
  font-size: 20px;
}

.col-md-2 {
  padding: 20px;
}
